# -*- coding: utf-8 -*-
# Change the values here to match your user and your API credentials
client_id='Write your api client id here'
client_secret='Write your api client secret here'
username='Write your username here'
password='Write your password here'
scope=['admin_organization']
file_name = "Write the name of your report here"